body{
   margin: 0;
   padding: 0;
   background-image: url(sasaki.jpg);
background-position: center;
background-repeat: 
height: 70%;
width: 70%
}

.box{
	background: ;
	padding: 40px;
	margin:80px;
	background-image: url(anime w.jpg);
}
.p{

	font-family:"Verdana" Sans-Serif
}